<div *ngIf="cap" class="cap-true"></div>
<div #myIdentifier class="row-fill {{fixClass}}">
    <div class="container">
        <div class="row" style="display: block">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button (click)="openNav()" class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a  routerLink="/" class="navbar-brand" href="#">
                    <img src="assets/images/logo.svg" style="width: 32px"/>
                </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a routerLink="/catalog" class="nav-link" href="#">Каталог<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" routerLink="feature-2">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Вы хотитет найти ..." aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Поиск</button>
                        <div class="glyphicon glyphicon-glass">asd</div>
                    </form>
                </div>
            </nav>
        </div>
    </div>


</div>
