<div *ngIf="cap" class="cap-true"></div>
<div #myIdentifier class="row-fill {{fixClass}}">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light row" style="padding-left: 0px; padding-right: 0px;">


            <button (click)="openNav()" class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="col-md-2">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a routerLink="/catalog" class="nav-link" href="#">Каталог<span
                                    class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <form class="form-inline my-2 my-lg-0">
                        <div class="cmp-search">
                            <input class="form-control input-search" type="text" placeholder="найти ..."
                                   aria-label="Search">
                            <div class="btn-search">
                                <button type="submit"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4" style="font-size: 0.8rem">
                    <div class="row">
                        <div class="col-md-4 nav-small-item">
                            <span>Избраное</span>
                            <img src="assets/images/star2.svg"/>
                        </div>
                        <div class="col-md-4 nav-small-item">
                            <span>Вы смотрели</span>
                            <img src="assets/images/eye.svg"/>
                        </div>
                        <div class="col-md-4  nav-small-item">
                            <span>Корзина</span>
                            <img src="assets/images/cart2.svg"/>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>


</div>
