<div class="container" >
    <div class="row" style="height: 100%; text-align: center; color: white;">
        <div class="col-md-2" style="height: 100%; float: left;">
            <a routerLink="/" href="#">
                <img src="assets/images/logo2.jpg" style="width: 100%; "/>
            </a>
        </div>
        <div class="col-md-2"><!--HEADER-CENTER--></div>
        <div class="col-md-2"><!--HEADER-CENTER--></div>
        <div class="col-md-4"><!--HEADER-CENTER--></div>
        <div class="col-md-4" style="height: 100%; float: left;"><!--HEADER-RIGHT--></div>
    </div>
</div>