/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css"
@import "variables.sass"

@font-face
  font-family: Roboto
  src: url(./assets/fonts/DroidSerif-Regular.ttf)

html, body
  font-family: Roboto, sans-serif !important
  font-size: 14px

.row-fill-dark
  background: #000000
  color: white

.row-fill
  background: $background
